<h1>Blogs</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.id %></td>
      <td><%= blog.name %></td>
      <td><%= blog.description %></td>
      <td><%= link_to 'Show', blog %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Delete', blog,
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Blog', new_blog_path %>
